---
import { Header } from "../components/Header/Header"
import { Footer } from "../components/Footer/Footer"
import { AboutMe } from "../components/AboutMe/AboutMe"
import { Authentication } from "../components/Authentication/Authentication"
import type { SocialLink, FooterProps } from "../components/Footer/types"
import { SideBar } from "../components/SideBar/SideBar"
import type { SideBarProps } from "../components/SideBar/types"
import { getSiteData } from "../services/server"
import { Cache } from '../database/Cache/cache'
import "../styles/global/mainLayout.scss"

const cache = new Cache()

async function getData() {
	const cacheID = "main:sidebar-footer*24" 
	const cacheData = await cache.hget(cacheID)	

	if (cacheData) {
		return cacheData
	}

	const siteData = await getSiteData()
	cache.hset(cacheID, siteData)

	return siteData
}


const { title } = Astro.props
const siteData = await getData()

if (!siteData) {
	return { message: "server crash" }
}

const { user, socials, images } = siteData
const { profile_image, side_footer_image, description, favicon } = images
const { user_name, full_name, profile_description, donate_slug, role, donate_link, seo_description: seoDesc, seo_title: seoTitle } = user
const { email, github, linkedin, twitter, youtube } = socials

const sideBarProps: SideBarProps = {
	profileImageUrl: profile_image,
	userName: user_name,
	fullName: full_name,
	profileDescription: profile_description,
	donateSlug: donate_slug,
	donateLink: donate_link,
	githubLink: github,
	email,
	role
} as const;

const socialLinks: SocialLink[] = [
	{
		icon: "fab fa-linkedin",
		name: "LinkedIn",
		link: linkedin,
	},
	{
		icon: "fa fa-envelope",
		name: "Email",
		link: `mailto:${email}`,
	},
	{
		icon: "fab fa-twitter",
		name: "Twitter",
		link: twitter,
	},
	{
		icon: "fab fa-github",
		name: "GitHub",
		link: github,
	},
	{
		icon: "fab fa-youtube",
		name: "YouTube",
		link: youtube,
	}
] as const;


const footerProps: FooterProps = {
	sideFooterImg: side_footer_image,
	socialLinks,
} as const;

---

<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="icon" type="image/x-icon" href={favicon}>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/devicon/2.16.0/devicon.min.css" integrity="sha512-BlFCHJWngPEHme4TwlEob6dPLfoNaQBTTISPwr4344nxR353w2vgGZ7GiSadbbeR20cJeeM0u1I2lAZuIZ1aOQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
	  <title>{title} | {full_name} | {seoTitle} </title>
	  <meta name="description" content={seoDesc}>
	  <meta name="keywords" content="{full_name}, Fullstack Developer, Backend Developer, Python Developer, Web Development, API Development, JavaScript, TypeScript, React, Node.js, Django, FastAPI, Portfolio">
	  <meta name="author" content="{full_name}">
	  
	  <!-- Open Graph / Facebook -->
	  <meta property="og:title" content="{full_name} | {seoTitle}">
	  <meta property="og:description" content={seoDesc}>
	  <meta property="og:type" content="website">
	  <meta property="og:image" content={description}> 
	  
	  <!-- Twitter -->
	  <meta name="twitter:card" content="summary_large_image">
	  <meta name="twitter:title" content="{full_name} | {seoTitle}">
	  <meta name="twitter:description" content={seoDesc}>
	  <meta name="twitter:image" content={description}> 
	</head>
	<body class="scrollable">
		<div class="content dark:bg-gray-900 text-white relative">
			<SideBar {...sideBarProps} client:load />
			<div class="main-side w-full">
				<Header client:load />
				<main class="main-content p-3">
					<slot/>
				</main>
				<Footer {...footerProps} />
			</div>
			<Authentication client:load />
			<AboutMe client:load />
		</div>
	</body>
</html>